& {
  id: id;

  .rank {
    rank: text, value.trim('.');
  }

  .titleline > a {
    title: text;
    url: attr("href");
  }

  next_sibling() {
    .score {
      points: text, value.split(" points")[0];
    }

    .hnuser {
      user: text;
    }

    .age {
      datetime: attr("title"), value.split(" ")[0];
      timestamp: attr("title"), value.split(" ")[-1];
    }

    last("a") {
      comments: text, if(value eq "discuss", 0, value.split(" comments")[0]);
    }
  }
}
